:root {
  --color-white: #FFF;
  --color-white-hover: #f4e6e6;
  --color-black: #000;
  --color-content: #707070;
  --color-brown: #6f615b;
  --bg-main: #f46425;
  --bg-secondary: #af6747a8;

  --transition-default: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

a {
  color: var(--color-white) !important;
}

a:hover {
  color: var(--color-brown) !important;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.content__head {
  font-size: 48px;
  font-weight: 700;
}

.content-para {
  font-size: 18px;
  word-spacing: 0.3rem;
  line-height: 1.8rem;
}

@media (max-width: 992px) {
  .content__head {
    font-size: 32px;
  }

  .content-para {
    color: var(--color-content);
    font-size: 18px;
    word-spacing: 0;
    line-height: 1.8rem;
  }
}

@media (max-width: 768px) {
  .content__head {
    font-size: 24px;
  }

  .content-para {
    color: var(--color-content);
    font-size: 14px;
    word-spacing: 0;
    line-height: normal;
  }
}

.py-100 {
  padding: 100px 0;
}

/* * header */

nav.navbar.scrolled {
  background-color: var(--bg-main);
}

nav.navbar.transparent {
  background-color: transparent;
}

nav.navbar .nav-item {
  margin-left: 25px;
  padding: 4px 0;
  position: relative;
  /* color: #FFFFFF; */
  font-size: 18px;
  font-weight: 600;
  outline: none;
  transition: .5s;
}

nav.navbar .nav-link:hover,
nav.navbar .nav-link.active {
  color: var(--color-white);
}

header nav .navbar-brand {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.7rem;
  transition: var(--transition-default);
}

header nav .navbar-brand:hover {
  color: var(--color-brown);
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: var(--bg-secondary);
    font-weight: bold;
  }

  nav .nav-item .nav-link {
    color: var(--color-white);
  }

  nav .nav-item .nav-link.active {
    color: var(--color-white-hover);
  }
}

@media (min-width: 992px) {
  header .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--color-brown);
    transition: .5s;
  }

  header .navbar-nav .nav-link:hover::before,
  header .navbar-nav .nav-link.active::before {
    width: 100%;
    left: 0;
  }
}

/* ! header */
/* * hero */
.hero {
  height: 100vh;
  position: relative;
  background-image: url(../images/hero-bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--bg-secondary);
}

.hero h1 {
  color: var(--color-white);
}

.hero p {
  color: var(--color-white-hover);
}

.hero .hero__content button.btn {
  background-color: var(--bg-main);
  border: 0;
  border-radius: 4px;
  font-weight: 600;
}


/* ! hero */

/* * promotion */


.promotion h3 {
  font-weight: 500;
}

.promotion p {
  color: var(--color-brown);
}

.single-promo {
  display: block;
  overflow: hidden;
  background-color: #f5f5f5;
}

.single-promo span {
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 20px;
  display: inline-block;
}

.promo-info {
  padding: 30px;
}

.single-promo-hover {
  transition: all .2s ease-out;
  will-change: transform;
}

.single-promo-hover:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}

/* ! promotion */
/* * action */
.action {
  min-height: 50vh;
  position: relative;
  background-image: url(../images/video-bg.jpg);
  background-attachment: fixed;
  /* background-position: top center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.action::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--bg-secondary);
}

.action .action__content button.btn {
  background-color: var(--bg-main);
  border: 0;
  border-radius: 4px;
  font-weight: 600;
}

/* ! action */
/* * services */
.services {
  color: var(--color-brown);
}

.single-feature .icon {
  display: block;
  font-size: 20px;
  line-height: 21px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 2px;
  color: var(--color-white);
  background-color: var(--bg-main);
}

/* ! services */
/* * pricing */
/* .pricing {
  background-color: #707070;
} */

/* ! pricing */

/* * services page */
.service__hero {
  min-height: 50vh;
  position: relative;
  background-image: url(../images/hero-bg-1.jpg);
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service__hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--bg-secondary);
}


/* * categories */
.categories {
  background-color: var(--bg-secondary);
}

.categories .categories__content h2 {
  color: var(--color-white);
}

.categories .categories__content p {
  color: var(--color-white-hover);
}

.single__feature-hover {
  z-index: 0;
  position: relative;
  background: #ffffff;
  box-shadow: 0 0 0 1px #ebebeb;
  padding: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease, transform 0.3s ease, z-index 0s 0.3s ease, -webkit-transform 0.3s ease;
}

.single__feature-hover:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  border-radius: 4px;
  transition: box-shadow 0.1s ease, transform 0.1s ease, z-index 0s 0.1s ease, -webkit-transform 0.3s ease;
}

/* ! categories */

/* ! services page */
/* * one service page */
.service__pricing {
  background-color: #f5f5f5;
}

.card.single-pricing-pack {
  transition: all 0.2s ease 0s;
  box-shadow: 0 0 0 1px #ebebeb;
  border-radius: 1rem !important;
  border: 2px solid transparent;
}

.card.single-pricing-pack:hover {
  z-index: 2;
}

.single-pricing-pack:hover {
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, .125) !important;
  transform: translate(0, -5px);
  border-top: 2px solid var(--bg-main);
}

.single-pricing-pack .card-body {
  color: rgb(132, 146, 166);
  flex: 1 1 auto;
  padding: 1.5rem;
}

.pricing-header {
  position: relative;
  background: transparent;
}

.pricing-header .price {
  font-size: 35px;
  font-weight: 700;
  color: var(--bg-main);
}

.pricing-header .price span {
  font-size: 14px;
  margin-left: 4px;
}

.pricing-header::after {
  content: "";
  display: block;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40%;
  height: 1px;
  background: radial-gradient(at center center, rgb(222, 228, 239) 0px, rgba(255, 255, 255, 0) 75%);
}

.pricing-feature-list li {
  font-size: 14px;
  line-height: 30px;
}

.pricing-feature-list li span {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #5a5a5a;
  font-size: 13px;
}

.popular-price {
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, .125) !important;
  border: 2px solid var(--bg-main) !important;
}

.popular-price:hover {
  border-top: 4px solid var(--bg-main) !important;
}

/* ! one service page */

/* * footer */
footer {
  background-color: #70707054;
}

footer .footer-top {
  padding: 50px 0;
}

footer .footer-bottom {
  background-color: var(--bg-main);
}

/* ! footer */